/* ####################### */
/* ### CSS elemek TEST ### */

/* Komponensek gombjai */
.kompbtn {

}

/* Komponensek ID , Ezt jobb üresen hagyni */
#komptn {

}

/* Lista elemek */
li {
    font-size: 12px;
    margin: 2px;
    list-style-type: none;
}

.vertical-box{
    border: 1px solid black;
    width: min-content; /* Miket nem találok, pontosan ilyesmit kerestem :) */
    /*display: flex;*/
    /*align-items: center;*/
    margin: 8px;
    padding: 3px;
}

ul{
    text-decoration-style: none;
    margin: 8px;
    padding: 3px;
}



.Card-Zone{
    border: 1px solid red;  /*Szín majd nem kell ide, egyelőre jó a teszteléshez, hogy lássuk a dobozt*/
    width: min-content;
    margin: 4px;
    padding: 5px;
}

/* PC-Kártya doboz (Lehet kéne csinálni egy globális .css-t és akkor mindenhol igaz a kártyákra */
.Card-Box{
    border: 1px solid black;
    max-width: max-content;
}

/* Kis ikonos gomb, nem kell neki design (meglátjuk, hogy melyik böngészőkben fut rendesen.. */
.btnMatch{
    border: none;
    background: none;
    float: right;
}

.Card-row{
    width: max-content;
}