/* ####################### */
/* ### CSS elemek TEST ### */

/* Komponensek gombjai */
.kompbtn {

}

/* Komponensek ID , Ezt jobb üresen hagyni */
#komptn {

}

/* Lista elemek */
li {
    font-size: 12px;
    margin: 2px;
    list-style-type: none;
}

.vertical-box{
    border: 1px solid black;
    width: min-content; /* Miket nem találok, pontosan ilyesmit kerestem :) */
}

ul{
    text-decoration-style: none;
}