/*    Itt a vertikális jönne előrébb, nem a horizontális és a product  */
/*================================*/
/* Ladányi Bertold - CSS Skeleton */
/* Csiki Akemi - Remaster         */
/* Varga Dávid - Back End         */
.container { /* RESPONZÍV HTML KIOSZTÁS */
  display: grid;
  gap: 0px 0px;
  /*
  grid-template-columns: 1fr 6fr 0fr 3fr 1fr;
    */
  grid-template-rows: 0fr 0fr 2fr 2fr 1fr 1fr;

  grid-template-areas: 
    "header header header header header"
    "vertical horizontal horizontal horizontal horizontal"
    "vertical products products products products"
    "vertical products products products products"
    "vertical products products products products"
    "footer footer footer footer footer";
    
  min-width: 100%;
  margin: auto;
  padding: 0px;
}

.horizontal-row{ /* ALKATRÉSZ ELEMEK (alaplap , processzor , ram...) */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  /*Annyi fraction ahány div-column van*/
  grid-template-rows: 1fr;                                     /*Egy sort egy fraction-re osztunk fel*/
  margin: 10px;
  padding: 10px;
}

.products { /* TERMÉKEK MEZŐ (Item kártyák) */
  display: grid;
  grid-area: products;
  grid-template-columns: 1fr 1fr 1fr;     /* ITT 3 DB FRACTION VAN, TEHÁT 5 OSZLOP */
  background-color: yellow;
  /*column-count: 4;  */
  margin: auto;
  height: 100%;
  width: 100%;
  /*padding: 20px 10px 0px 20px; /* DEBUG PADDING */
}

.header { /* HEADER */
  grid-area: header;
  background-color: red;
  height: max-content;
}

.vertical { /* VERTIKÁLIS LISTA MEZŐ */
  grid-area: vertical;
  background-color: blue;
  width: auto;
  height: 100%;
}

.horizontal { /* KATEGÓRIA SZŰKÍTŐ MEZŐ */
  grid-area: horizontal;
  background-color: green;
  height: 75px;
}


 


.card { /* ITEM KÁRTYÁK friss*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 320px;
  max-width: 350px;
  min-height: 500px;
  max-height: 550px;
  margin: auto;
  padding: auto;
  justify-content: center;
  font-family: arial;
}

.cardbox{ /* ITEM KÁRTYÁK teszt*/
  border: 1px solid black;
  width: 200px;                       /* Kártyák szélessége */
  height: max-content;
  justify-content: center;
  /* margin: 7% 0% 7% 25%;            /* felül-alul 14% eltolás , balról 25% */
  margin: 7% auto;                    /* Fentről-lentről 7% , Balról-jobbról auto */
  width: fit-content;
  block-size: fit-content
}

ul{ /* Unorganized List */
  text-decoration-style: none;
  margin: 8px;
  padding: 3px;
    
}

li { /* LISTED ITEMS */
  font-size: 12px;
  margin: 2px;
  list-style-type: none;
}

p { /* DEBUG RED OUTLINE */
  border: 3px solid red;
  text-align: center;
}
  
.btnMatch{ /* ??? */
  border: none;
  background: none;
  float: right;
}

.itempicture{
  margin: auto;
}


.BUY{ /* VÁSÁRLÁS GOMB */
  border: 3px solid red;
  /*margin: 0% 25% 0% 25%;*/
  margin: auto;
}

label{ /* DEBUG, KÉSŐBB TÖRÖLNI!! */
  background: white;
}

.footertabla{
  padding: auto;
}

/*.footeradatok{ /* FOOTER TÁBLÁZAT
  border: 3px solid red;

  padding-right: 25%;
  margin: 5% 0% 5% 30%;
}
*/


/*================================*/
/*          TESZT FELÜLET         */

.row{
  color: white;
  height: 40px;
}

.footer { /* FOOTER */
  grid-area: footer;
  border: 3px solid red;
  background-color: grey;
  margin: auto;
  column-count: 3;
  height: 100%;
}

.minus, .plus{
  background:#f2f2f2;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

input{
  text-align: center;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
}

.pcparts{
  color: red;
  font-size: 12px;
}












.card button:hover {
  opacity: 0.7;
}





/*Placeholder Image
img{
  padding: 0px 10px 25px 15px;
  height: 60px;
  width: 180px;
}
Placeholder Image*/

/*
.products{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);
}
*/